body {
  background: rgb(31, 31, 31);
}

#centered-root > div {
  background: rgb(252, 252, 252);
}

/* Logo in tab navigation */
.tabs-logo-wrap {
  height: 64px;
  align-content: center;
}

.tabs-logo-wrap > svg,
.tabs-logo-wrap > img {
  width: 100%;
  height: 100%;

	text {
		fill: rgba(255, 255, 255, 0.7) !important;
	}
}

.MuiTab-wrapper {
  height: 64px;
}

.faq-ul,
.services-ul {
  padding: 0;
}

.faq-ul li > div {
  display: block;
}

.faq-ul li h2 {
  margin: 0;
}

.faq-answer {
  width: 100%;
  display: block;
}

.graphcms-image-wrapper,
.graphcms-image-outer-wrapper {
  max-width: 100%;
  max-height: 100%;
}

.currency-symbol {
  opacity: 0.88;
  font-size: 0.95rem;
  font-weight: normal;
  margin-right: 1px;
}

/* Shared across dynamic content blocks */
.dynamic-content-wrap {
  padding: 0.5rem;
  justify-content: center;
}
