@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.faq-ul, .services-ul {
	padding: 0;
}

.faq-ul li > div {
	display: block;
}

.faq-ul li h2 {
	margin: 0;
}

.faq-answer {
	width: 100%;
	display: block;
}

.layout {
	background-color: #fff;
}

.ant-col {
	padding-top: 0;
}

.graphcms-image-outer-wrapper {
	display: inline-block;
}

.image-modal.ant-modal-confirm .ant-modal-body {
	padding: 0;
}

.image-modal.ant-modal-confirm .ant-modal-confirm-content {
	margin: 0;
}

.image-modal.ant-modal-confirm .ant-modal-confirm-btns {
	margin: 0;
	height: 0;
}

.image-modal.ant-modal-confirm .image-modal-wrap {
	line-height: 0;
	height: 0;
}

.page-carousel-item {
	position: relative;
	text-align: center;
}

.ant-typography ul[data-baseweb="accordion"] li,
.ant-typography .services-ul li,
.ant-typography .services-ul li > div {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 767px) {
	.ant-modal,
	.graphcms-image-outer-wrapper,
	.graphcms-image-wrapper {
		max-width: 100%;
	}
}