.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.faq-ul, .services-ul {
	padding: 0;
}

.faq-ul li > div {
	display: block;
}

.faq-ul li h2 {
	margin: 0;
}

.faq-answer {
	width: 100%;
	display: block;
}

.layout {
	background-color: #fff;
}

.ant-col {
	padding-top: 0;
}

.graphcms-image-outer-wrapper {
	display: inline-block;
}

.image-modal.ant-modal-confirm .ant-modal-body {
	padding: 0;
}

.image-modal.ant-modal-confirm .ant-modal-confirm-content {
	margin: 0;
}

.image-modal.ant-modal-confirm .ant-modal-confirm-btns {
	margin: 0;
	height: 0;
}

.image-modal.ant-modal-confirm .image-modal-wrap {
	line-height: 0;
	height: 0;
}

.page-carousel-item {
	position: relative;
	text-align: center;
}

.ant-typography,
.ant-typography h1,
.ant-typography h2,
.ant-typography h3,
.ant-typography h4,
.ant-typography h5,
.ant-typography h6,
.ant-typography .ant-list-item {
	font-family: 'Roboto';
	font-weight: normal;
}

.ant-typography h4 {
    font-weight: normal;
    font-size: 1.5rem;
}

section.ant-layout > h1.ant-typography {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 4.2rem;
}

.site-layout-content .ant-row > h2 {
	margin-bottom: 0;
	font-weight: normal;
	font-size: 2.4rem;
}

.ant-typography .ant-list-header h3 {
    margin-bottom: 0;
}

.ant-typography .ant-list-item-meta-description p {
	margin-bottom: 0;
}

.ant-typography h1.page-carousel-heading {
    position: absolute;
	top: 5rem;
	padding: 1rem;
    width: 100%;
	font-size: 6rem;
    font-weight: 300;
    filter: opacity(0.5);
    color: rgba(255,255,255,0.7);
    filter: sepia(1);
}

@media (max-width: 767px) {
	.ant-typography h1.page-carousel-heading {
		top: 3rem;
		padding: 0.8rem;
		font-size: 4rem;
	}
}

.ant-typography .ant-list-item-meta-description {
    font-size: 1rem;
}

.ant-typography .page-carousel-item img {
	filter: brightness(55%);
}

.ant-typography ul[data-baseweb="accordion"] li,
.ant-typography .services-ul li,
.ant-typography .services-ul li > div {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.ant-typography .ant-list-item-meta span.anticon-question svg {
	width: 1.2rem;
    height: 1.2rem;
    margin-top: 0.4rem;
}

@media (max-width: 767px) {
	.ant-modal,
	.graphcms-image-outer-wrapper,
	.graphcms-image-wrapper {
		max-width: 100%;
	}

	section[data-baseweb="card"] {
		margin: auto;
	}
}