

body {
    background: rgb(31, 31, 31);
}

.faq-ul, .services-ul {
	padding: 0;
}

.faq-ul li > div {
	display: block;
}

.faq-ul li h2 {
	margin: 0;
}

.faq-answer {
	width: 100%;
	display: block;
}

.graphcms-image-outer-wrapper {
	display: inline-block;
}